<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>{{ site.title }} Iletisim Bilgileri</li>
          {% if site.github_username %}
          <li>
            Github:
            <a href="https://github.com/{{ site.github_username }}">
              {{ site.github_username }}
            </a>
          </li>
          {% endif %}
          <li>
            Bizi
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}"> RSS ile </a>
            takip edebilirsiniz.
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-1 text-right">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
