---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d-%m-%Y" }}</time>{% if page.author %} | <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  <!-- Author -->
  {% if page.author %}
    {% assign author = site.authors[page.author] %}
  {% endif %}
  <!-- Post -->
  <div class="post-content" itemprop="articleBody">
      {{ content }}
  </div>
  <hr>
  <!--Tags List-->
  <div class="post-content">
    <ul class="tag-list-inline">
      <li>
        Etiketler:
      </li>
      {% for tag in page.tags %}
      <li>
        <a class="post-badge" href="/tag.html/#{{ tag | slugify }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <hr>
  <!--Social Icons-->
  <div class="post-content">
    <ul class="social-media-list">
      <li>
        Paylaş:
      </li>
      <li>
        <div class="fb-share-button" data-href="{{ post.url | prepend: site.baseurl }}" data-layout="button"></div>
      </li>
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="twitter-share-button"{count} data-via="akademi_help">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
      <li>
        <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: tr_TR</script>
        <script type="IN/Share"></script>
      </li>
      <li>
        <a target="_blank" class="btn btn-email btn-sm" href="mailto:arkadasinizin@epostaadresi.com?subject={{ page.title }}" title="Email ile paylaşabilirsiniz">
          e-posta
        </a>
      </li>
      <li>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script src="https://apis.google.com/js/platform.js" async defer>
          {lang: 'tr'}
        </script>
        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-annotation="none"></div>
      </li>
    </ul>
  </div>
  <hr>
  <!-- Author -->
  <div class="post-content" itemprop="articleFooter">
    <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
    <small class="author">{{ author.display_name }}</small> -
    <small class="author">{{ author.company }}</small>
  </div>
  <hr>
  <!-- Disqus -->
  <div class="post-content">
    <div id="disqus_thread"></div>
    <script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    var disqus_config = function () {
    this.page.url = 'http://akademi.help{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'http://akademi.help{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//akademihelp.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</article>
